body{
 background: url('https://s-media-cache-ak0.pinimg.com/736x/ec/8d/da/ec8dda885688ef35203135cc247e2259.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

button {
  font-family: fantasy;
  background-color: #003380 ; 
  border: none;
  color: white;
  display: block;
  float: left;
  height: 50px;
  width: 100px;
  margin-right: 5px;
  text-align: center;
  line-height: 13px;
  text-decoration: none;
}

#inputBox {
  position: static;
  display: block;
  float: right;
  height: 35px;
  width: 200px;
  margin-right: 5px;
  line-height: 15px;
  text-decoration: none;

}

#addButton {
  position: static;
  display: block;
  float: right;
  height: 35px;
  width: 100px;
  margin-right: 5px;
  line-height: 15px;
  text-decoration: none;
}


h1{

  background: url('https://media2.giphy.com/media/d97OPMEimWGBi/200_s.gif');
  font-family: fantasy;
  color: #003380;
  border-style: outset;
  height: 45px;
  text-align: left;
  font-size: 250%;
}



.gifDiv {

  float: left;
  margin:5px;
  border: 2px solid white;
}
  




