body{
 background: url('https://s-media-cache-ak0.pinimg.com/736x/ec/8d/da/ec8dda885688ef35203135cc247e2259.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

button {
  font-family: fantasy;
  background-color: #003380 ; 
  border: none;
  color: white;
  display: block;
  float: left;
  height: 50px;
  width: 100px;
  margin-right: 5px;
  text-align: center;
  line-height: 13px;
  text-decoration: none;
  border-style: outset;
  

}

#inputBox {
  
  float: right;
  height: 35px;
  width: 200px;
  margin-right: 5px;
  line-height: 15px;
  text-decoration: none;

}

#addButton {
  
  float: right;
  height: 35px;
  width: 100px;
  margin-right: 5px;
  line-height: 15px;
  text-decoration: none;
}



header {
  
  background: url('https://media2.giphy.com/media/d97OPMEimWGBi/200_s.gif');
  font-family: fantasy;
  color: #003380;
  border-style: outset;
  height: 45px;
  text-align: left;
  font-size: 250%;
  margin-bottom: 20px;
  font-weight: bold;
  text-shadow: 0 1px 0 #ccc,
  0 2px 0 #c9c9c9,
  0 3px 0 #bbb,
  0 4px 0 #b9b9b9,
  0 5px 0 #aaa,
  0 6px 1px rgba(0,0,0,.1),
  0 0 5px rgba(0,0,0,.1),
  0 1px 3px rgba(0,0,0,.3),
  0 3px 5px rgba(0,0,0,.2),
  0 5px 10px rgba(0,0,0,.25),
  0 10px 10px rgba(0,0,0,.2),
  0 20px 20px rgba(0,0,0,.15);
  text-align: center;
}


.gifDiv {

  float: left;
  margin: 50px;
  border: 20px solid #003380;
  color:  white;
  font-weight: bold;
  font-size: 30px;
  font-family: fantasy;
  text-align: center;
  background: #003380;
}

.gif {
  
  height: 300px;
  width: 300px;
  
}



  




